{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} Create Academic Consideration {% endblock %}

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                {% if messages %}
                                    {% for message in messages %}
                                        <button class="btn btn-block notifications btn-{{message.tags}}" data-type="{{message.tags}}" data-from="bottom" data-align="right">
                                            {{ message | safe }}
                                        </button>
                                    {% endfor %}
                                {% endif %}
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Academic Consideration</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Submit Academic Consideration Application</h5>
                                            <hr>
                                            <form action="/academic_consideration/create/application/" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="student_id" value="{{current_user_id}}">
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="subj_code">Date From</label>
                                                        {% render_field create_ac_form.ac_from class="form-control mb-3" placeholder="Date From (YYYY-MM-DD)" id="ac_from" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="assessment_item_affected">Date To</label>
                                                        {% render_field create_ac_form.ac_to class="form-control mb-3" placeholder="Date To (YYYY-MM-DD)" id="ac_to" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="subj_code">Subject</label>
                                                        {% render_field create_ac_form.subject_id class="form-control mb-3" placeholder="Subject" id="subj_id" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="assessment_item_affected">Assessment Item</label>
                                                        {% render_field create_ac_form.assessment_item_affected class="form-control mb-3" placeholder="Assessment Item" id="assessment_item_affected" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="assessment_type">Assessment type</label>
                                                        {% render_field create_ac_form.assessment_type class="form-control mb-3" id="assessment_type" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="weight">Weight (%)</label>
                                                        {% render_field create_ac_form.weight class="form-control mb-3" placeholder="Weight (%)" id="weight" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="group_work">Group Work</label>
                                                        {% render_field create_ac_form.group_work class="form-control mb-3" placeholder="Group Work" id="group_work" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="due_date">Due/Scheduled Date</label>
                                                        {% render_field create_ac_form.due_date class="form-control mb-3" placeholder="Due/Scheduled Date" id="due_date" %}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="subject_coordinator">Subject Coordinator</label>
                                                        {% render_field create_ac_form.subject_coordinator class="form-control mb-3" placeholder="Subject Coordinator" id="subject_coordinator" %}
                                                    </div>
                                                    <div class="form-group col-md-8">
                                                        <label for="nature_of_assistance">Nature of Assistance</label>
                                                        {% render_field create_ac_form.nature_of_assistance class="form-control mb-3" placeholder="Nature of Assistance" id="nature_of_assistance" %}
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Create</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ form-element ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
